<style>

@font-face {}

@font-face {
    font-family: 'Alegreya Sans', sans-serif;
}

.headings{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    float: center;
    width: 800px;
    margin: 0 auto;
}

.title{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: 96px;
    padding-top: 50px;
    padding-bottom: 100px;
}

body {
    background-image: url('../images/bg.jpg');
} 

.align-center {
    display: block;
    margin: 0px auto;
}

img.main {
    border: 1px solid #000000;
}

div.main {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 28px;
    float: center;
    width: 80%;
    margin: 0 auto;
    line-height: 125%;
}

div.ad {
    padding-top: 20px;
    margin: 0 auto;
}

div.footer {
    clear: both;
    height: 50px;
    border-top: 1px;
    width: 910px;
}

p.main {
    text-indent: 20px;
    line-height: 125%;
}

a:link {
    color: #b80b0b;
}

a:visited {
    color: #b80b0b;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: #ff0000;
}

p.note {
    text-align: center;
}

.center {
    text-align: center;
}

.small {
    font-size: xx-small;
}

.ul-small-indent{
    margin: 8px;
    line-height:125%;
}
.container {
    display: flex;
    align-items: center;
}

.code {
    font-family: 'Source Code Pro', monospace;
    background: #E3E6E8;
    border-radius: 10px;
    color: #DF2041;
}
</style>
